@model APCD.Modelos.Turmas
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Atualizar","Turma"))
{
    <fieldset>
        <legend>Turmas</legend>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TurmaId, new { id = "hdId" })
        <table id="TableForms">
            @Html.Partial(@Url.Content("~/Views/Turma/_FormTurma.cshtml"))
            <tr>
                <th colspan="3" style="background-color: transparent !Important;">
                    <span style="padding-right:1em">
                        <input type="button" value="Excluir" name="btnExcluir" id="btnExcluir" onclick="javascript:ExcluirRegistro();" />
                    </span><span>
                        <input type="button" value="Voltar" id="btnVoltar" onclick="javascript:window.location='@Url.Content("~/Turma/Index")';" />
                    </span><span>
                        <input type="submit" value="Salvar" id="btnSalvar" />
                    </span>
                </th>
            </tr>
        </table>
    </fieldset>
}
<script language="javascript" type="text/javascript">
    $(function () {
        $("#txtDataInicio").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#txtDataFim").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#txtDataInicio").mask("99/99/9999");
        $("#txtDataFim").mask("99/99/9999");

    });
    function ExcluirRegistro() {
        if (confirm("Deseja excluir este registro?") == true) {
            window.location = '@Url.Content("~/Turma/Excluir?Id=")' + document.getElementById('hdId').value
        }
        }
</script>
