@model APCD.Modelos.Pacientes
@{
    ViewBag.Title = "_FormVisualizacaoPaciente";
    Layout = "~/Views/Shared/_LayoutPopUp.cshtml";
}

<fieldset>
    <legend>Pacientes</legend>
    <table id="TableForms">
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteNome)
            </td>
            <td>
                @Html.LabelFor(model => model.DataNascimento)
            </td>
            <td>
                Data de Cadastro:
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PacienteNome, new { id = "txtNomePaciente", maxlength = "50", style = "width:300px" })
                @Html.ValidationMessageFor(model => model.PacienteNome)
            </td>
            <td>
                @Html.DisplayFor(model => model.DataNascimento, new { id = "txtDataNasc", style = "width:100px" })
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </td>
            <td>
                @Html.TextBox("txtDataCadastro", DateTime.Now.ToString("dd/MM/yyyy"), new { id = "txtDataCadastro", disabled = "disabled", style = "width:100px" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteCPF)
            </td>
            <td>
                @Html.LabelFor(model => model.PacienteRG)
            </td>
            <td>
                @Html.LabelFor(model => model.PacienteRGExped)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PacienteCPF, new { id = "txtPacienteCPF", style = "width:115px" })
                @Html.ValidationMessageFor(model => model.PacienteCPF)
            </td>
            <td>
                @Html.DisplayFor(model => model.PacienteRG, new { id = "txtPacienteRG", style = "width:115px", maxlenght = "10" })
                @Html.ValidationMessageFor(model => model.PacienteRG)
            </td>
            <td>
                @Html.DisplayFor(model => model.PacienteRGExped, new { id = "txtPacienteRGExp", style = "width:115px" })
                @Html.ValidationMessageFor(model => model.PacienteRGExped)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteSexo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(model => model.PacienteSexo, (List<SelectListItem>)ViewData["Sexo"], new { id = "cbSexo", @disabled = "true" })
            </td>
        </tr>
        <tr>
            <th colspan="3">
                Filiação
            </th>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteMae)
            </td>
            <td>
                @Html.LabelFor(model => model.PacientePai)
            </td>
            <td>
                @Html.LabelFor(model => model.PacienteResponsavel)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PacienteMae, new { id = "txtPacienteMae", maxlength = "50", style = "width:300px" })
                @Html.ValidationMessageFor(model => model.PacienteMae)
            </td>
            <td>
                @Html.DisplayFor(model => model.PacientePai, new { id = "txtPacientePai", maxlength = "50", style = "width:300px" })
                @Html.ValidationMessageFor(model => model.PacientePai)
            </td>
            <td>
                @Html.DisplayFor(model => model.PacienteResponsavel, new { id = "txtPacienteResponsavel", maxlength = "50", style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.PacienteResponsavel)
            </td>
        </tr>
        <tr>
            <th colspan="3">
                Endereço
            </th>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteCep)
            </td>
            <td>
                Endereço:
            </td>
            <td>
                @Html.LabelFor(model => model.PacienteComplemento)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PacienteCep, new { id = "txtCep", style = "width:100px" })
                @*<a href="javascript:PesquisarCep()">Pesquisar</a>*@
                @Html.ValidationMessageFor(model => model.PacienteCep)
            </td>
            <td>
                <span>
                    @Html.DropDownListFor(model => model.PacienteTipoLog, (List<SelectListItem>)(ViewData["TipoLog"]), new { id = "cbTipoLog", style = "width:150px", @disabled = "true" })
                    @Html.ValidationMessageFor(model => model.PacienteTipoLog)
                </span><span>
                    @Html.DisplayFor(model => model.PacienteLogradouro, new { id = "txtEndereco", maxlength = "50", style = "width:230px" }),
                    @Html.ValidationMessageFor(model => model.PacienteLogradouro)
                </span><span>
                    @Html.DisplayFor(model => model.PacienteNroEndereco, new { id = "txtNroEndereco", style = "width:50px" })
                </span>
            </td>
            <td>
                @Html.DisplayFor(model => model.PacienteComplemento, new { id = "txtComplemento", maxlength = "100", sytle = "width:300px" })
                @Html.ValidationMessageFor(model => model.PacienteComplemento)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteBairro)
            </td>
            <td>
                @Html.LabelFor(model => model.PacienteCidade)
            </td>
            <td>
                @Html.LabelFor(model => model.PacienteUF)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PacienteBairro, new { id = "txtBairro", maxlength = "50", style = "width:250px" })
                @Html.ValidationMessageFor(model => model.PacienteBairro)
            </td>
            <td>
                @Html.DisplayFor(model => model.PacienteCidade, new { id = "txtCidade", maxlength = "100", style = "width:300px" })
                @Html.ValidationMessageFor(model => model.PacienteCidade)
            </td>
            <td>
                @Html.DropDownListFor(model => model.PacienteUF, (List<SelectListItem>)ViewData["UF"], new { id = "cbUF", @disabled = "true" })
                @Html.ValidationMessageFor(model => model.PacienteUF)
            </td>
        </tr>
        <tr>
            <th colspan="3">
                Contato
            </th>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteFoneResidencial)
            </td>
            <td>
                @Html.LabelFor(model => model.PacienteFoneCelular)
            </td>
            <td>
                <span style="padding-right: 1.2em">
                    @Html.LabelFor(model => model.PacienteFoneComercial)
                </span>
                @Html.LabelFor(model => model.PacienteFoneComercialRamal)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PacienteFoneResidencial, new { id = "txtFoneRes", style = "width:120px" })
                @Html.ValidationMessageFor(model => model.PacienteFoneResidencial)
            </td>
            <td>
                @Html.DisplayFor(model => model.PacienteFoneCelular, new { id = "txtFoneCel", style = "width:120px" })
                @Html.ValidationMessageFor(model => model.PacienteFoneCelular)
            </td>
            <td>
                <span style="padding-right: 1em">
                    @Html.DisplayFor(model => model.PacienteFoneComercial, new { id = "txtFoneCom", style = "width:120px" })
                    @Html.ValidationMessageFor(model => model.PacienteFoneComercial)
                </span><span>
                    @Html.DisplayFor(model => model.PacienteFoneComercialRamal, new { id = "txtRamal", style = "width:120px" })
                    @Html.ValidationMessageFor(model => model.PacienteFoneComercialRamal)
                </span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PacienteEmail)
            </td>
            <td>
                @Html.LabelFor(model => model.MidiaId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PacienteEmail, new { id = "txtEmail", style = "width:300px", maxlenght = "100" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.MidiaId, (List<SelectListItem>)(ViewData["Midia"]), new { id = "cbMidia", @disabled="true" })
                @Html.ValidationMessageFor(model => model.MidiaId)
            </td>
        </tr>
        <tr>
            <th colspan="3">
                Atendimento
            </th>
        </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.InstituicaoId)
                </td>
                <td>
                    @Html.LabelFor(model => model.CursoId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.InstituicaoId, ViewData["Instituicao"] as MultiSelectList, new { id = "cboInsituicao", style = "width:250px", @disabled = "true" })
                </td>
                <td>
                    @Html.DropDownListFor(model => model.CursoId, ViewData["Cursos"] as MultiSelectList, new { id = "cboCurso", style = "width:250px", @disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TurmaId)
                </td>
                <td>
                    @Html.LabelFor(modelo => modelo.AlunoId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.TurmaId, ViewData["Turmas"] as MultiSelectList, new { id = "cboTurma", style = "width:250px", @disabled = "true" })
                </td>
                <td>
                    @Html.DropDownListFor(Model => Model.AlunoId, ViewData["Alunos"] as MultiSelectList, new { id = "cboAluno", style = "width:250px", @disabled = "true" })
                </td>
            </tr>
    </table>
</fieldset>